<!DOCTYPE html>
        <html>
<body>
<link rel='stylesheet' href='/stylesheets/base.css' >
<div class="baseblock">
    <h1 class="name">My blog</h1>
    <nav>
        <a href="#">Главная</a>
        <a href="#">Посты</a>
        <a href="#">Логин</a>
    </nav>
    </div>
</body>
</html>
