<!DOCTYPE html>
        <html>
<body>
<link rel='stylesheet' href='/stylesheets/base.css' >
<div class="baseblock">
    <h1 class="name">My blog</h1>
    <nav>
        <a href="#">Главная</a>
        <a href="#">Посты</a>
        <% if (user) { %>
        <a id="enterButton" href="#">Выйти</a>
        <form method="post" id="postform" action="/logout"></form>
        <% } else { %>
        <a id="enterButton" href="/login">Войти</a>
        <% } %>
    </nav>
    </div>
<script type="text/javascript" src="/js/headerScript.js"></script>
</body>
</html>
