<!DOCTYPE html>
        <html>
<body>
<link rel='stylesheet' href='/stylesheets/base.css' >
<div class="baseblock">
    <h1 class="name">My blog</h1>
    <nav>
        <a href="/">Home</a>
        <a href="#">Posts</a>
        <% if (user) { %>
        <a id="userPade" href="/user/<%=user._id%>">Profile</a>
        <a id="enterButton" href="#">Logout</a>
        <form method="post" id="postform" action="/logout"></form>
        <% } else { %>
        <a id="enterButton" href="/login">Login</a>
        <% } %>
    </nav>
    </div>
<div class="footer">
    copyright 2016 Attemka
</div>
<script type="text/javascript" src="/js/headerScript.js"></script>
</body>
</html>
