<!DOCTYPE html>
<html>
  <head>
    <title>welcome to blog</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
<body>
<div class="background-image"></div>
    <% include header.ejs %>
    <% if (user) { %>
    <p>zdarova, <%=user.get('username')%></p>
    <% } else { %>
  <div class="welcomeText">
      <h1 class="title1">Welcome to the test blog</h1><br>
      Author: Attemka<br>
      NodeJS + js<br>
      Express for node<br>
      Dav petuh<br>

  </div>
    <% } %>

  </body>
</html>
