<!DOCTYPE html>
<html>
  <head>
    <title>welcome to blog</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

    <h1>4e kak</h1>
    <% include header.ejs %>
    <% if (user) { %>
    <p>zdarova, <%=user.get('username')%></p>
    <% } else { %>
  <p>але дебил</p>
    <% } %>

  </body>
</html>
