<!DOCTYPE html>
<html>
<head>
    <title>user page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="background-image"></div>
<% include header.ejs %>


<p>profile of <%=username%></p><br>
<p>your id: <%=id%></p>


</div>

</body>
</html>
