body {
    margin-top: 3%;
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
background-color: #abb1b9;

}

.welcomeText {
    padding: 0px;
    font-family:Mallige;
    z-index: 2;
  height: 400px;
  width: 700px;
  vertical-align: top;
  font-size: 25px;
}


.welcomeBtn{
    margin: 20px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.welcomeBtn:hover{

}

a {
  color: #00B7FF;
}
